/*******************************
Reset all  margins, padding, anchor tags and
Box-sizing
********************************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

/********************************
   Defining all root variables
 *******************************/

:root {
  --mainColour: white;
  --secondaryColour: rgba(247, 0, 13, 1);
  --shadowColor: rgba(0, 0, 0, 0.12);
  --padding: 1em;
  --btnColorDilute: rgba(247, 0, 13, 0.7);
  --margin: 5%;
  --padding: 5%;
  --btnFontSize: 1.3rem;
  --btnPadding: 0.5em;
  --transition: 0.3s;
  --fontWeight: 600;
  --headingSizeMobile: 2rem;
  --headingSize: 3rem;
  --gridRowGap: 0.75rem;
  --gridColumnGap: 0.75rem;
  --transitionTime: 0.3s;
  --letterSpacing: 0.1em;
  --btnBorderThickness: 4px;
  --btnBorderRadius: 4px;
  --fontColour: black;
  --navMenuColour: snow;
  --fontSize: 22px;
  --mobileFontSize: 1.5rem;
  --navMenuPadding: 1.5em 1em;
}

/*********************
        Body
 ********************/

body {
  background-color: var(--mainColour);
  font-family: "Just Another Hand", cursive;
}

/***************************
  Header including navigation
  and logo Styling
 **************************/

header {
  font-size: 1.3rem;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
}

/**Search bar**/

.search-and-cart-container {
  display: flex;
}

.search-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}

.search-bar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 8;
  background: white;
  transform: translateY(-100%);
  transition: transform 0.65s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#userInput {
  position: relative;
  padding: 0 0.25em;
  width: 80%;
  height: 3.5rem;
  border: none;
  border-bottom: 2px solid rgb(131, 95, 95);
  outline: none;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 5%;
  padding: 0.5em 0;
}

#userInput:hover,
#userInput:focus {
  border: 2px solid var(--secondaryColour);
  outline: none;
}

.close-search-btn {
  position: absolute;
  top: 2%;
  left: 2%;
}

.close-search-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}

.result-container {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.result {
  height: 20vh;
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
  border-bottom: 1px solid grey;
  padding-bottom: 2%;
  display: none;
}

.result-section-title {
  padding-top: 1.5rem;
}

.trainer-details {
  /* align-self: center; */
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 70%; */
  /* background: red; */
}

.result-img {
  height: 100%;
}

.view-btn {
  background: var(--secondaryColour);
  text-align: center;
  color: var(--mainColour);
  font-size: 2rem;
  padding: 0 0.6em;
  width: max-content;
  height: max-content;
}

.view-btn:hover {
  background: var(--btnColorDilute);
}

/*Navigation Container*/
.nav-container {
  display: flex;
  justify-content: space-around;
}

/* Navigation items */

.navList {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 1;
  padding: var(--navMenuPadding);
  border: 1px solid black;
  transition: all 0.7s ease-in-out;
  overflow-x: hidden;
  transform: translateX(-100%);
}

.navList li {
  list-style: none;
}

.nav-close-btn {
  position: absolute;
  left: 5%;
  top: 5%;
  color: var(--mainColour);
  transition: color 0.3s ease-in-out;
}

.nav-close-btn:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* logo inside Navigation */

.nav-container + .logo {
  margin-bottom: 2%;
}

.c-logo {
  height: 50px;
}

/******* nav Icons styling*********/

.nav-icon {
  position: relative;
  color: white;
}

.nav-icon::after {
  position: absolute;
  bottom: 0%;
  font-size: calc(var(--fontSize) * 1.5);
  transition: color 0.3s ease-in-out;
}

.nav-icon:hover::after {
  color: var(--secondaryColour);
}

.nav-icon a {
  font-weight: var(--fontWeight);
  transition: color 0.3s ease-in-out;
  color: white;
}

.nav-icon a:hover,
.nav-icon a:focus {
  color: red;
}

.nav-icon .material-icons {
  font-size: calc(var(--fontSize) * 1.5);
}

.homeIcon::after {
  content: "Home";
}

.contactIcon::after {
  content: "Contact";
}

.sellIcon::after {
  content: "Sell";
}

.shopIcon::after {
  content: "Shop";
}

/****Nav button****/

.nav-btn .material-icons {
  font-size: calc(var(--fontSize) * 1.5);
}

.nav-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}

/******* Cart styling *******/

.fa-cart-plus {
  position: relative;
  align-self: center;
}

.cart-item {
  position: absolute;
  top: -47%;
  right: -20%;
  font-size: 0.95rem;
  background-color: var(--mainColour);
  color: var(--fontColour);
  border-radius: 50000000000000000px;
  padding: 0.1rem;
  border: 1px solid black;
}

/********************
     Hero styling  
 ********************/

.hero {
  position: relative;
  height: 50vh;
  width: 90vw;
  background: url("Images/MaleTrainers/maleTrainer20.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
  border: 1px solid black;
}

.hero-title {
  text-align: center;
  color: var(--mainColour);
  font-size: 5rem;
  margin: 0 auto;
  position: relative;
  letter-spacing: var(--letterSpacing);
}

.dark-filter {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

/*************************
   main section styling
    including icons
 *************************/

.main {
  text-align: center;
  margin-top: 2rem;
}

/*****************
     Form
******************/

.form-title,
.page-title {
  /* margin-bottom: 3%; */
  font-size: calc(var(--headingSize) * 1.1);
  letter-spacing: var(--letterSpacing);
  color: black;
}

.comment-form {
  width: 100%;
  height: 70vh;
  /* background-color: #dd2a7b; */
  border: 2px solid var(--btnColorDilute);
  box-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.12),
    0.75px 1.25px 1.75px rgba(0, 0, 0, 0.5), 1px 1.5px 2px rgba(0, 0, 0, 0.12);
  margin: 1.5rem auto;
  padding: 0.75em;
  display: grid;
  grid-template-rows: repeat(4, 1fr) 2fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "fnl fni"
    "lnl lni"
    "eml emi"
    "pl pi"
    "cmtl cmti"
    "submit submit";
  grid-gap: 1.5%;
}

input {
  font-family: inherit;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 0.2em;
  letter-spacing: var(--letterSpacing);
  outline: none;
  border: none;
  border-bottom: 2px solid var(--btnColorDilute);
  align-self: center;
}

label {
  font-size: 2rem;
  letter-spacing: var(--letterSpacing);
  justify-self: start;
  align-self: center;
}

.first-name {
  grid-area: fni;
}

.first-name-label {
  grid-area: fnl;
}

.last-name {
  grid-area: lni;
}

.last-name-label {
  grid-area: lnl;
}

.email {
  grid-area: emi;
}

.email-label {
  grid-area: eml;
}

.phone-number {
  grid-area: pi;
}

.phone-label {
  grid-area: pl;
}

.comment {
  grid-area: cmti;
  resize: none;
  font-size: 1.5rem;
  font-family: inherit;
  letter-spacing: var(--letterSpacing);
  border: none;
  border-bottom: 2px solid var(--btnColorDilute);
  outline: none;
  padding: 0.25em 0.2em;
}

.comment-label {
  grid-area: cmtl;
  align-self: start;
}

.form-submit-btn {
  grid-area: submit;
  font-size: 1.75rem;
  padding: 0.35em 1.95em;
  background-color: var(--secondaryColour);
  place-self: center;
  color: white;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: var(--btnColorDilute);
}

input:focus,
.comment:focus,
input:hover,
.comment:hover {
  box-shadow: inset 0 -1px 5px red;
}
/***************
  Icons within
  body styling
 **************/

.icon-container a {
  position: relative;
  color: black;
}

.icon-container i {
  border: 3px solid black;
  padding: var(--btnPadding);
  margin-right: 1%;
  margin-top: 5%;
  position: relative;
}

.icon-container i:hover {
  background-color: black;
}

.icon-container a .fa:hover {
  color: var(--mainColour);
}

/******************
  Footer and icons
  within styling
  ******************/

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 90vw;
  background-color: var(--mainColour);
}

.footer .logo {
  height: 50px;
}

.footerHI {
  border-right: 2px solid black;
  padding: var(--padding);
  margin-right: var(--margin);
  position: relative;
}

/* Icons in footer styling */

.icons {
  display: flex;
  justify-content: space-around;
}

.footerHI .fa-twitter:hover {
  color: #00acee;
}

.footerHI .fa-facebook-square:hover {
  color: #3b5998;
}

.footerHI .fa-instagram:hover {
  color: #dd2a7b;
}

/*****************
    media query
 *****************/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero-title {
    font-size: 3rem;
  }

  .form-title,
  .page-title {
    font-size: 2rem;
  }

  label {
    font-size: 1.5rem;
  }

  input {
    font-size: 1rem;
  }
}
