/********************
Google fonts import
********************/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

/*******************************
Reset all  margins, padding, anchor tags and
Box-sizing
********************************/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}

/********************************
   Defining all root variables
 *******************************/

:root{
  --mainColour: hsl(200, 6%, 10%);
  --secondaryColour: white;
  --shadowColor: rgba(0, 0, 0, 0.12);
  --padding: 1em;
  --margin: 1em;
  --btnFontSize: 1.3rem;
  --btnPadding: .5em;
  --transition: .3s;
  --fontWeight: 600;
  --directionBtnColor: rgba(245, 245, 240, 0.3);
  --directionBtnHoverColor: rgba(245, 245, 240, 0.75);
  --sectionColour: hsl(216, 23%, 9%);
  --headingSize: 2.5rem;
  --gridGap: 1.5em;
  --transitionTime: .3s;
  --addToCartColor: hsl(17, 100%, 50%);
  --addToCartColorDiluted: hsl(17, 100%, 60%);
  --sellSectionBackground: hsl(250, 100%, 90%);
  --letterSpacing: .1em;
}

/*********************
        Body
 ********************/

 body{
   background-color: var(--mainColour);
   font-family: 'Baloo Tamma 2', cursive;
 }

/***************************
  Header including navigation
  and logo Styling
 **************************/

 header{
   padding-bottom: var(--padding);
   margin-top: .5%;
   font-size: 1.3rem;
 }


 /*Navigation Container*/
 .nav{
   display: flex;
   justify-content: space-between;
   background-color: var(--secondaryColour);
   padding: var(--padding);
   box-shadow: 0px 2px 2px var(--shadowColor), 0 4px 4px var(--shadowColor),
               0px 8px 8px var(--shadowColor), 0 16px 16px var(--shadowColor),
               0px 32px 32px var(--shadowColor);
 }

 /* Navigation items */

 .navList{
   display: flex;
   align-items: flex-end;
 }

 .navList li{
  list-style: none;
  margin-right: var(--margin);
 }


  .navList img{
    height: 2rem;
  }


 /* logo inside Navigation */

 .nav .logo{
   height: 50px;
   position: relative;
 }

 /******* Cart styling *******/

 .fa-cart-plus{
   position: relative;
   bottom: 5px;
 }

 .cart-item{
   position: absolute;
   top: -47%;
   right: -20%;
   font-size: .95rem;
   background-color: var(--mainColour);
   color: white;
   border-radius: 50000000000000000px;
   padding: .1rem;
 }

 /*******************
   nav Icons styling
 ********************/


 .shopIcon, .aboutIcon, .sellIcon, .homeIcon{
   position: relative;
   /* transition: hover calc(var(--transition) * 2) ease-in-out; */
 }


 .shopIcon::before, .aboutIcon::before, .sellIcon::before,
 .homeIcon::before{
   width: max-content;
   font-size: calc(var(--btnFontSize) / 2);
   font-weight: var(--fontWeight);
   color: var(--secondaryColour);
   background-color: var(--mainColour);
   position: absolute;
   bottom: 120%;
   border-radius: 10%;
   padding: calc(var(--btnPadding) - .15rem) var(--btnPadding);
   left: 50%;
   transform: translateX(-50%) scale(0);
   transform-origin: right;
   transition: transform .3s ease-in-out;
 }

 .shopIcon:hover::before{
   content:"shop";
   transform: translateX(-50%) scale(1);

 }

 .shopIcon:hover::after, .aboutIcon:hover::after, .sellIcon:hover::after, .homeIcon:hover::after {
   content: '';
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 7px solid var(--mainColour);
   position: absolute;
   bottom: 99.5%;
   transform: translateX(-50%);
   left: 50%;
 }

 .aboutIcon:hover::before{
   content:"About";
   transform: translateX(-50%) scale(1);
 }

 .sellIcon:hover::before{
   content:"Sell";
   transform: translateX(-50%) scale(1);
 }

 .homeIcon:hover::before{
   content:"Home";
   transform: translateX(-50%) scale(1);
 }


/*************************
   main section styling
    including icons
 *************************/

 .main{
   color: var(--secondaryColour);
   text-align: center;
   padding: calc( var(--padding) *1.5) 0;
 }

.page-title{
  margin-bottom: 3%;
  font-size: calc( var(--headingSize) * 1.1);
  letter-spacing: var(--letterSpacing);
}

/***************
  Icons within
  body styling
 **************/

 .icon-container{

 }

.icon-container a {
  position: relative;
  color: var(--secondaryColour);

}

.icon-container i{
  border: 3px solid var(--secondaryColour);
  padding: var(--btnPadding);
  margin-right: 1%;
  position: relative;
}

.icon-container i:hover{
   background-color: var(--secondaryColour);
}

.icon-container a:hover{
   color: var(--mainColour);
}


.facebook-icon:hover::after, .instagram-icon:hover::after,
.twitter-icon:hover::after, .envelope-icon:hover::after,
.phone-icon:hover::after{
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid var(--secondaryColour);
  position: absolute;
  bottom: 300%;
  transform: translateX(-50%);
  left: 45%;
}

.facebook-icon:hover::before, .instagram-icon:hover::before,
.twitter-icon:hover::before, .envelope-icon:hover::before,
.phone-icon:hover::before{
  width: max-content;
  font-size: calc(var(--btnFontSize));
  font-weight: var(--fontWeight);
  color: var(--mainColour);
  background-color: var(--secondaryColour);
  position: absolute;
  bottom: 350%;
  border-radius: 4px;
  padding: calc(var(--btnPadding) - .35rem) var(--btnPadding);
  left: 45%;
  transform: translateX(-50%);
}


/****facebook icon styling*****/
  .facebook-icon:hover::before{
    content: 'Facebook';
  }


/*****instagram icon styling*****/
  .instagram-icon:hover::before{
    content: 'Instagram';
  }


/*****twitter styling*****/
  .twitter-icon:hover::before{
    content: 'Twitter';
  }


/*****envelope icon styling*****/

  .envelope-icon:hover::before{
    content: 'silverhanduk@gmail.com';
  }

  /*****phone icon styling****/

    .phone-icon:hover::before{
      content: '075 7587 8035';
    }


    /***********************
       comment form styling
     ***********************/

     .comment-form{
       width: 30%;
       margin: 0 auto;

     }

     .form-title{
       font-size: var(--headingSize);
       letter-spacing: var(--letterSpacing);
     }

    .form-section{
      display: flex;
      flex-direction: column;
    }

    .comment{
      resize: vertical;
      outline: none;
      border: none;
      font-size: 1.5rem;
    }

    .first-name, .second-name, .email{
      padding: calc(var(--padding) / 2) 0;
      font-size: 1.5rem;
      border-radius: 3px;
      outline: none;
      border: none;
      padding-left: 10px;
      text-transform: capitalize;
    }


    label{
      font-size: calc(var(--headingSize) * .75);
      align-self: flex-start;
    }

    .submit-btn{
      padding:  var(--btnPadding);
      margin-top: 10px;
      font-size: var(--btnFontSize);
      cursor: pointer;
      background: none;
      border: 3px solid var(--secondaryColour);
      color: var(--secondaryColour);
      outline: none;
      font-weight: var(--fontWeight);
      border-radius: 3px;
    }

    .submit-btn:hover{
      color: var(--mainColour);
      background-color: var(--secondaryColour);
    }

 /******************
  Footer and icons
  within styling
  ******************/

  .footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: var(--secondaryColour);
    box-shadow: 1px 2px 4px var(--shadowColor);
  }

  .footer .logo{
    height: 50px;
  }

.footerHI{
  border-right: 2px solid black;
  padding: var(--padding);
  margin-right: var(--margin);
  position: relative;
}

.footerHI h3{

}

/* Icons in footer styling */

.icons{
  display: flex;
  justify-content: space-around;
}

.footerHI .fa-twitter:hover{
  color: #00acee;
}

.footerHI .fa-facebook-square:hover{
  color: #3b5998;
}

.footerHI .fa-instagram:hover{
  color: #dd2a7b;
}
