/********************
Google fonts import
********************/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

/*******************************
Reset all  margins, padding, anchor tags and
Box-sizing
********************************/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}


/********************************
   Defining all root variables
 *******************************/

:root{
  --mainColour: hsl(200, 6%, 10%);
  --secondaryColour: hsl(60, 100%, 95%);
  --shadowColor: rgba(0, 0, 0, 0.12);
  --padding: 1em;
  --margin: 1em;
  --btnFontSize: 1.3rem;
  --btnPadding: .5em;
  --transition: .3s;
  --fontWeight: 600;
  --directionBtnColor: rgba(245, 245, 240, 0.3);
  --directionBtnHoverColor: rgba(245, 245, 240, 0.75);
  --sectionColour: hsl(216, 23%, 9%);
  --headingSize: 2.5rem;
  --gridGap: 1.5em;
  --transitionTime: .3s;
  --addToCartColor: hsl(17, 100%, 50%);
  --addToCartColorDiluted: hsl(17, 100%, 60%);
  --sellSectionBackground: hsl(200, 100%, 50%);
}

/*********************
        Body
 ********************/

 body{
   background-color: var(--mainColour);
   font-family: 'Baloo Tamma 2', cursive;
   display: grid;
   grid-template-rows: repeat(6, auto);
   grid-template-areas:
   "header"
   "intro"
   "menSection"
   "womenSection"
   "sell"
   "footer";
 }

/***************************
  Header including navigation
  and logo Styling
 **************************/

 header{
   padding-top: var(--padding);
   padding-bottom: var(--padding);
   border-top: 2px solid var(--secondaryColour);
   border-bottom: 2px solid var(--secondaryColour);
   margin-top: .5%;
   font-size: 1.3rem;
   grid-area: header;
   top: 0;
   position: sticky;
   z-index: 2;
 }


 /*Navigation Container*/
 .nav{
   display: flex;
   justify-content: space-between;
   background-color: var(--secondaryColour);
   padding: var(--padding);
   box-shadow: 0px 2px 2px var(--shadowColor), 0 4px 4px var(--shadowColor),
               0px 8px 8px var(--shadowColor), 0 16px 16px var(--shadowColor),
               0px 32px 32px var(--shadowColor);
 }

 /* Navigation items */

 .navList{
   display: flex;
   align-items: center;
 }

 .navList li{
  list-style: none;
  margin-right: var(--margin);
 }


  .navList li a:hover{
    border-bottom: 2px solid red;
  }


 /* logo inside Navigation */

 .nav .logo{
   height: 50px;
   position: relative;
   left: 45%;
 }

 /******* Cart styling *******/

 .fa-cart-plus{
   position: relative;
 }

 .cart-item{
   position: absolute;
   top: -47%;
   right: -20%;
   font-size: .95rem;
   background-color: var(--mainColour);
   color: white;
   border-radius: 50000000000000000px;
   padding: .1rem;
 }

 /****************************
    Home page Intro styling
    with Slides
  ***************************/

.intro{
 grid-area: intro;
 height: 60vh;
 margin-top: var(--margin);
 position: relative;
 border-top: 3px solid white;
 border-bottom: 3px solid white;
 box-shadow: 0px 2px 2px var(--shadowColor), 0 4px 4px var(--shadowColor),
             0px 8px 8px var(--shadowColor), 0 16px 16px var(--shadowColor),
             0px 32px 32px var(--shadowColor);
}

/* Slides Container */

.slideContainer{
  height: 100%;
  width: 100%;
  position: relative;
}

/* Slide Items  */

.slide{
  height: 100%;
  width: 100%;
  position: absolute;
}

.slide1{
display: none;
}

.slide2{

}

.slide3{
  display: none;
}

.slide4{
  display: none;
}

/* Button inside of intro styling */

.intro .btnShop{
  position: absolute;
  bottom: 2%;
  right: 45%;
  font-size: var(--btnFontSize);
  padding: var(--btnPadding);
  border-radius: 5%;
  outline: none;
  border: 2px solid var(--secondaryColour);
  background-color: transparent;
  color: white;
  font-weight: var(--fontWeight);
  cursor: pointer;
}


.intro .btnShop:hover{
  background-color: var(--secondaryColour);
  color: var(--mainColour);
  transition: var(--transition) ease-in-out;
}

/*** Direction buttons inside intro ***/

.btn-direction{
  padding: var(--btnPadding);
  font-size: var(--btnFontSize);
  font-weight: var(--fontWeight);
  position: absolute;
  bottom: 45%;
  outline: none;
  background-color: var(--directionBtnColor);
  border: none;
  cursor: pointer;
}

.btn-direction:hover{
  background-color: var(--directionBtnHoverColor);
  transition: var(--transition);
}

.btn-next{
  right: 0;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.btn-prev{
  left: 0;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}



/* Logo inside of intro styling */

.intro .logo{
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: 50px;
}

/******************************
    Main section styling both
  for Men and Women selections
 ******************************/

 .main{

 }

 .section{
   margin-top: var(--margin);
 }

 .section h3, .section h4{
   color: white;
   text-shadow: 1px 2px 1px black;
 }

 .section-title{
   text-align: center;
   font-size: var(--headingSize);
 }


/***** Product Styling ****/


.product{
  background-color: var(--secondaryColour);
  padding-bottom: var(--padding);
  border: 2px solid white;
}

 .product-img{
   position: relative;
   overflow: hidden;
 }


  .product-img:hover .bag-btn {
    transform: translateX(0%);
  }



  /**** Add to cart button styling  *****/

 .bag-btn{
   padding: var(--btnPadding);
   font-weight: var(--fontWeight);
   position: absolute;
   right: 0;
   bottom: 20%;
   transform: translateX(101%);
   transition: all var(--transitionTime);
   cursor: pointer;
   background-color: var(--addToCartColor);
   color: white;
   border: none;
   outline: none;
 }

 .bag-btn:hover{
   background-color: var(--addToCartColorDiluted);
 }

.bag-btn .fa-cart-plus{
  margin-right: var(--margin);
}


 /* Men Collection */

 .MenCollection{
   grid-area: menSection;
   height: 90vh;
   max-width: 1170px;
   width: 90vw;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
   grid-gap: var(--gridGap);
 }


 .product-img img{
   width: 100%;
 }


 /* Women Collection */

 .WomenCollection{
   grid-area: womenSection;
   height: 90vh;
   max-width: 1170px;
   width: 90vw;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
   grid-gap: var(--gridGap);
 }

 /* Brands section styling */

 .brandsContainer{
   margin-top: 5%;
 }

 .brandsContainer h3{

 }

 .brands{

 }

 /********************
     Sell section
  ********************/
  .Sell{
    grid-area: sell;
    height: 50vh;
    background-color: var(--sellSectionBackground);
  }

  .Sell h3{
    text-align: center;
  }

 /******************
  Footer and icons
  within styling
  ******************/

  .footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: var(--secondaryColour);
    box-shadow: 1px 2px 4px var(--shadowColor);
  }

  .footer .logo{
    height: 50px;
  }

.footerHI{
  border-right: 2px solid black;
  padding: var(--padding);
  margin-right: var(--margin);
  position: relative;
}

.footerHI h3{

}

/* Icons in footer styling */

.icons{
  display: flex;
  justify-content: space-around;
}

.fa-twitter:hover{
  color: #00acee;
}

.fa-facebook-square:hover{
  color: #3b5998;
}

.fa-instagram:hover{
  color: #dd2a7b;
}
