/********************
Google fonts import
********************/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

/*******************************
Reset all  margins, padding, anchor tags and
Box-sizing
********************************/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}


/********************************
   Defining all root variables
 *******************************/

:root{
  --mainColour: hsl(200, 6%, 10%);
  --secondaryColour: white;
  --shadowColor: rgba(0, 0, 0, 0.12);
  --padding: 1em;
  --margin: 1em;
  --btnFontSize: 1.3rem;
  --btnPadding: .5em;
  --transition: .3s;
  --fontWeight: 600;
  --directionBtnColor: rgba(245, 245, 240, 0.3);
  --directionBtnHoverColor: rgba(245, 245, 240, 0.75);
  --sectionColour: hsl(216, 23%, 9%);
  --headingSize: 2.5rem;
  --gridGap: 1.5em;
  --transitionTime: .3s;
  --addToCartColor: hsl(17, 100%, 50%);
  --addToCartColorDiluted: hsl(17, 100%, 60%);
  --sellSectionBackground: hsl(250, 100%, 90%);
  --letterSpacing: .1em;
  --btnBorderThickness: 4px;
  --btnBorderRadius: 4px;
}

/*********************
        Body
 ********************/

 body{
   background-color: var(--mainColour);
   font-family: 'Baloo Tamma 2', cursive;
   display: grid;
   grid-template-rows: repeat(7, auto);
   grid-template-areas:
   "header"
   "intro"
   "menSection"
   "middleSlides"
   "womenSection"
   "sell"
   "footer";
 }

/***************************
  Header including navigation
  and logo Styling
 **************************/

 header{
   padding-bottom: var(--padding);
   margin-top: .5%;
   font-size: 1.3rem;
   grid-area: header;
 }


 /*Navigation Container*/
 .nav{
   display: flex;
   justify-content: space-between;
   background-color: var(--secondaryColour);
   padding: var(--padding);
   box-shadow: 0px 2px 2px var(--shadowColor), 0 4px 4px var(--shadowColor),
               0px 8px 8px var(--shadowColor), 0 16px 16px var(--shadowColor),
               0px 32px 32px var(--shadowColor);
 }

 /* Navigation items */

 .navList{
   display: flex;
   align-items: flex-end;
 }

 .navList li{
  list-style: none;
  margin-right: var(--margin);
 }


  .navList li a:hover{
    /* border-bottom: 3px solid red; */
  }

  .navList img{
    height: 2rem;
  }


 /* logo inside Navigation */

 .nav .logo{
   height: 50px;
   position: relative;
 }

 /*******Icons styling*********/


 .shopIcon, .aboutIcon, .sellIcon, .contactIcon{
   position: relative;
   /* transition: hover calc(var(--transition) * 2) ease-in-out; */
 }


 .shopIcon::before, .aboutIcon::before, .sellIcon::before,
 .contactIcon::before{
   width: max-content;
   font-size: calc(var(--btnFontSize) / 2);
   font-weight: var(--fontWeight);
   color: var(--secondaryColour);
   background-color: var(--mainColour);
   position: absolute;
   bottom: 120%;
   border-radius: 10%;
   padding: calc(var(--btnPadding) - .15rem) var(--btnPadding);
   left: 50%;
   transform: translateX(-50%) scale(0);
   transform-origin: right;
   transition: transform .3s ease-in-out;
 }

 .shopIcon:hover::before{
   content:"shop";
   transform: translateX(-50%) scale(1);

 }

 .shopIcon:hover::after, .aboutIcon:hover::after, .sellIcon:hover::after, .contactIcon:hover::after {
   content: '';
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 7px solid var(--mainColour);
   position: absolute;
   bottom: 99.5%;
   transform: translateX(-50%);
   left: 50%;
 }

 .aboutIcon:hover::before{
   content:"About";
   transform: translateX(-50%) scale(1);
 }

 .sellIcon:hover::before{
   content:"Sell";
   transform: translateX(-50%) scale(1);
 }

 .contactIcon:hover::before{
   content:"Contact";
   transform: translateX(-50%) scale(1);
 }



 /******* Cart styling *******/

 .fa-cart-plus{
   position: relative;
   bottom: 5px;
 }

 .cart-item{
   position: absolute;
   top: -47%;
   right: -20%;
   font-size: .95rem;
   background-color: var(--mainColour);
   color: white;
   border-radius: 50000000000000000px;
   padding: .1rem;
 }

 /****************************
    Intro and middle Slides
    styling
  ***************************/
.intro{
  grid-area: intro;
}

.intro, .middle-slides{
 height: 45vh;
 margin-top: var(--margin);
 position: relative;
 box-shadow: 0px 2px 2px var(--shadowColor), 0 4px 4px var(--shadowColor),
             0px 8px 8px var(--shadowColor), 0 16px 16px var(--shadowColor),
             0px 32px 32px var(--shadowColor);
}

.middle-slides{
  grid-area: middleSlides;
}



/* Slides Container */

.slideContainer, .middle-slide-container{
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}


/* Slide Items  */

.slide, .middle-slide{
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  animation: fade 1.5s  ease-in-out;
  transition: ease-in-out;
}



 @keyframes fade {
   from{
     opacity: .4;
   }
   90%{
     opacity: 1;
   }
 }






/* Logo inside of intro styling */

.intro .logo, .middle-slides .logo{
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: 50px;
}

/******************************
    Main section styling both
  for Men and Women selections
 ******************************/

 .main{

 }

 .section{
   margin: calc(var(--margin)*2) 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    height: 90vh;
 }

 .section h3, .section h4{
   color: white;
   text-shadow: 1px 2px 1px black;
 }

 .section-title{
   text-align: center;
   font-size: var(--headingSize);
 }


/***** Product Styling ****/


.product{
  padding-bottom: var(--padding);
  margin-right: var(--margin)
}

 .product-img{
   position: relative;
   overflow: hidden;
 }

 .product-img img{
   position: relative;
   border: 3px solid white;
   box-shadow: 0px 2px 2px var(--shadowColor), 0 4px 4px var(--shadowColor),
               0px 8px 8px var(--shadowColor);
 }




  .product-img:hover .bag-btn {
    transform: translateX(0%);
  }

  /******************
      Shop button
  ******************/

  .shop-btn{
   padding: calc(var(--btnPadding)*1.8);
   margin: 0 auto;
   border-radius: var(--btnBorderRadius);
   outline: none;
   cursor: pointer;
   border: var(--btnBorderThickness) solid var(--secondaryColour);
   background: none;
  }

  .shop-btn a{
    color: var(--secondaryColour);
    font-weight: var(--fontWeight);
    font-size: var(--btnFontSize);
  }

  .shop-btn:hover{
    background-color: var(--secondaryColour);
    transition: var(--transition);
  }

  .shop-btn:hover a{
    color: black;
    transition: var(--transition);
  }



  /**** Add to cart button styling  *****/

 .bag-btn{
   padding: var(--btnPadding);
   font-weight: var(--fontWeight);
   position: absolute;
   right: 0;
   bottom: 20%;
   transform: translateX(101%);
   transition: all var(--transitionTime);
   cursor: pointer;
   background-color: var(--addToCartColor);
   color: white;
   border: none;
   border-radius: 4%;
   outline: none;
 }

 .bag-btn:hover{
   background-color: var(--addToCartColorDiluted);
 }

.bag-btn .fa-cart-plus{
  margin-right: var(--margin);
}


 /* Men Collection */

 .MenCollection{
   grid-area: menSection;
   width: 90vw;
   margin: 0 auto;
   display: flex;
   /* align-items: center; */
 }


 .product-img img{
   width: 100%;
 }


 /* Women Collection */

 .WomenCollection{
   grid-area: womenSection;
   max-width: 1170px;
   width: 90vw;
   margin: 0 auto;
   display: flex;
 }

 /* Brands section styling */

 .brandsContainer{
   margin-top: 5%;
   height: 30vh;
 }

 .brandsContainer h3{

 }

 .brands{

 }

 /********************
     Sell section
  ********************/
  .Sell{
    grid-area: sell;
    height: 65vh;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: var(--padding);
    margin: 0 auto calc(var(--margin) * 2.5) auto;
    border: 5px solid var(--secondaryColour);
    position: relative;
    box-shadow: 0 2px 2px var(--shadowColor), 0 4px 4px var(--shadowColor),
    0 8px 8px var(--shadowColor), 0 16px 16px var(--shadowColor), 0 32px 32px
    var(--shadowColor);
  }

  .Sell h3{
    text-align: center;
    margin-top: .5em;
    font-size: calc(var(--headingSize)*1.5);
    letter-spacing: .17em;
  }

  .sell-para{
    color: var(--secondaryColour);
    font-size: 2rem;
    margin: 0 auto;
  }

  .sell-btn{
    padding: calc(var(--btnPadding) * 1.1) calc(var(--btnPadding) * 2);
    margin: 0 auto;
    border-radius: var(--btnBorderRadius);
    outline: none;
    cursor: pointer;
    border: var(--btnBorderThickness) solid var(--secondaryColour);
    background: none;
    color: var(--secondaryColour);
    font-size: var(--btnFontSize);
    font-weight: var(--fontWeight);
  }

  .sell-btn a{
    color: inherit;
    letter-spacing: var(--letterSpacing);
  }

  .sell-btn:hover{
    transition: var(--transition);
    background: var(--secondaryColour);
  }

  .sell-btn:hover a{
    color: var(--mainColour);
  }


/*****sell section slides****/

.sell-section-slides{
   display: flex;
   align-items: flex-end;
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0%;
   bottom: 0%;
   overflow-x: hidden;
   z-index: -2;
}

.sell-slide{
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  animation: fade 1.5s  ease-in-out;
  transition: ease-in-out;
}


 /******************
  Footer and icons
  within styling
  ******************/

  .footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: var(--secondaryColour);
    box-shadow: 1px 2px 4px var(--shadowColor);
  }

  .footer .logo{
    height: 50px;
  }

.footerHI{
  border-right: 2px solid black;
  padding: var(--padding);
  margin-right: var(--margin);
  position: relative;
}

.footerHI h3{

}

/* Icons in footer styling */

.icons{
  display: flex;
  justify-content: space-around;
}

.fa-twitter:hover{
  color: #00acee;
}

.fa-facebook-square:hover{
  color: #3b5998;
}

.fa-instagram:hover{
  color: #dd2a7b;
}
