/********************
Google fonts import
********************/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

/*******************************
Reset all  margins, padding, anchor tags and
Box-sizing
********************************/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: black;
}


/********************************
   Defining all root variables
 *******************************/

:root{
  --mainColour: hsl(200, 6%, 10%);
  --secondaryColour: hsl(60, 100%, 95%);
  --shadowColor:;
  --padding: 1em;
  --margin: 1em;
}

/*********************
     Body
 ********************/

 body{
   background-color: var(--mainColour);
   font-family: 'Baloo Tamma 2', cursive;
 }

/***************************
  Header including navigation
  and logo Styling
 **************************/

 header{
   padding-top: var(--padding);
   padding-bottom: var(--padding);
   border-top: 2px solid var(--secondaryColour);
   border-bottom: 2px solid var(--secondaryColour);
   margin-top: .5%;
   font-size: 1.3rem;
 }


 /*Navigation Container*/
 .nav{
   display: flex;
   justify-content: space-between;
   background-color: var(--secondaryColour);
   padding: var(--padding);
 }

 /* Navigation items */

 .navList{
   display: flex;
   align-items: center;
 }

 .navList li{
  list-style: none;
  margin-right: var(--margin);
 }


  .navList li:hover{
    border-bottom: 2px solid red;
  }

 .navList a{
   text-decoration: none;
 }


 /* logo inside Navigation */

 .nav .logo{
   height: 50px;
   position: relative;
   left: 45%;
 }

 /****************************
    Home page Intro styling
    with Slides
  ***************************/

.intro{

}

/* Slides Container */

.slideContainer{

}

/* Slide Items  */

.slide{

}

.slide1{

}

.slide2{

}

.slide3{

}

.slide4{

}

/* Button inside of intro styling */

.intro .btnShop{

}

/* Logo inside of intro styling */

.intro .logo{

}

/******************************
    Main section styling both
  for Men and Women selections
 ******************************/

 .main{

 }

 .section{

 }

 /* Men Collection */

 .MenCollection{

 }

 /* Women Collection */

 .WomenCollection{

 }

 /* Brands section styling */

 .brandsContainer{

 }

 .brandsContainer h3{

 }

 .brands{

 }


 /******************
  Footer and icons
  within styling
  ******************/

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: var(--secondaryColour);
  }

  .footer .logo{
    height: 50px;
  }

.footerHI{
  border-right: 2px solid black;
  padding: var(--padding);
  margin-right: var(--margin);
}
